Ulatina.PrograAvanzada.Calentamiento/Ulatina.PrograAvanzada.AplicacionWeb/Connected Services/ServiceReference1Examen/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56625/Dominio/Servicios/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Examen" />
  <xs:element name="PerimetroTriangulo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lado1" type="xs:double" />
        <xs:element minOccurs="0" name="lado2" type="xs:double" />
        <xs:element minOccurs="0" name="lado3" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerimetroTrianguloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PerimetroTrianguloResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerimetroCuadrado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_lado" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerimetroCuadradoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PerimetroCuadradoResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AreaTriangulo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lado1" type="xs:double" />
        <xs:element minOccurs="0" name="lado2" type="xs:double" />
        <xs:element minOccurs="0" name="lado3" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AreaTrianguloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AreaTrianguloResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VolumenCilindro">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Radio" type="xs:double" />
        <xs:element minOccurs="0" name="Altura" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VolumenCilindroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VolumenCilindroResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Examen" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Examen" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>