Ulatina.PrograAvanzada.Calentamiento/Examen.interfase.Volumenes/Connected Services/ServiceReference2/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56625/Dominio/Servicios/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Examen" />
  <xs:element name="PerimetroTriangulo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lado1" type="xs:double" />
        <xs:element minOccurs="0" name="lado2" type="xs:double" />
        <xs:element minOccurs="0" name="lado3" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerimetroTrianguloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PerimetroTrianguloResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerimetroCuadrado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_lado" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerimetroCuadradoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PerimetroCuadradoResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AreaTriangulo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lado1" type="xs:double" />
        <xs:element minOccurs="0" name="lado2" type="xs:double" />
        <xs:element minOccurs="0" name="lado3" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AreaTrianguloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AreaTrianguloResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AreaCuadrado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lado" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AreaCuadradoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AreaCuadradoResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AreaRectangulo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="largo" type="xs:double" />
        <xs:element minOccurs="0" name="ancho" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AreaRectanguloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AreaRectanguloResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AreaRombo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="diagonalMayor" type="xs:double" />
        <xs:element minOccurs="0" name="diagonalMenor" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AreaRomboResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AreaRomboResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AreaPoligonoRegular">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lado" type="xs:double" />
        <xs:element minOccurs="0" name="apotema" type="xs:double" />
        <xs:element minOccurs="0" name="cantidadLados" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AreaPoligonoRegularResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AreaPoligonoRegularResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AreaTrapecio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="baseMayor" type="xs:double" />
        <xs:element minOccurs="0" name="baseMenor" type="xs:double" />
        <xs:element minOccurs="0" name="altura" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AreaTrapecioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AreaTrapecioResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AreaRomboide">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="baseRomboide" type="xs:double" />
        <xs:element minOccurs="0" name="altura" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AreaRomboideResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AreaRomboideResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VolumenCilindro">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Radio" type="xs:double" />
        <xs:element minOccurs="0" name="Altura" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VolumenCilindroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VolumenCilindroResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VolumenEsfera">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Radio" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VolumenEsferaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VolumenEsferaResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VolumenCono">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Radio" type="xs:double" />
        <xs:element minOccurs="0" name="Altura" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VolumenConoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VolumenConoResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VolumenCubo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Arista" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VolumenCuboResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VolumenCuboResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VolumenPrisma">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Largo" type="xs:double" />
        <xs:element minOccurs="0" name="Ancho" type="xs:double" />
        <xs:element minOccurs="0" name="Altura" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VolumenPrismaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VolumenPrismaResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VolumenPiramideCuadrada">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LadoBase" type="xs:double" />
        <xs:element minOccurs="0" name="Altura" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VolumenPiramideCuadradaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VolumenPiramideCuadradaResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VolumenPiramidePoligonal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Apotema" type="xs:double" />
        <xs:element minOccurs="0" name="Altura" type="xs:double" />
        <xs:element minOccurs="0" name="CantLadosBaseYLargo" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VolumenPiramidePoligonalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VolumenPiramidePoligonalResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Examen" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Examen" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>